@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(./MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#map {
  height: 100%;
  width: 100%;
}
.search-options {
  margin: 0;
  padding: 0;
}
.search-option {
  list-style: none;
  margin: 0;
  padding: 2px;
  width: 100%;
  display: inline-block;
}
#places {
  padding-bottom: 25px;
}
#places li {
  width: 80px;
  border-radius: 25%;
  color: white;
}

#places li:hover {
  background-color: #283593 !important;
  cursor: pointer;
}

.search-menu {
  bottom: 45px;
  left: 24px;
  width: 80px;
}
.search-option:hover {
  background-color: #234767;
}
.title-neighbourhood {
  margin: 0;
  padding: 10px;
  text-align: center;
}
.search-content {
  margin: 0;
  padding: 10px;
}
.current-search {
  color: cyan;
}
.text-searching-container {
  bottom: 44px !important;
}
.text-searching {
  color: black;
  width: 76px;
}
.firstHeading {
  font-size: 2em;
  font-weight: 600;
  margin: 0.5em 0 0.5em 0;
  color: #801717;
}
#bodyContent {
  color: black;
}
.show-bookmarks {
  position: absolute;
  width: 4em;
  height: 4em;
  z-index: 1;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.5em;
}
.show-bookmarks .mdi-navigation-menu {
  font-size: 2em;
  vertical-align: middle;
}
